# Icarus Verilog compiled binaries
sim_binary
sim_bin
*.out
*.vvp
*.exe

# Waveform dump files
*.vcd
*.fst
*.lxt
*.lxt2

# GTKWave layout save files
*.gtkw

# Editor and OS clutter
.vscode/
Thumbs.db
Desktop.ini
gt_4bit/sim_bin
